[Unit]
Description=Control volume with media keys and add sound

[Service]
ExecStart=PROJECT_PATH/.venv/bin/python -m volume

[Install]
WantedBy=multi-user.target
